.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the content */
    align-items: center;     /* Horizontally centers the content */
    height: 100vh;           /* Make the section fill the viewport height */
    text-align: center;      /* Centers the text */
    background-color: #333;  /* Optional: Add a background color */
    color: white;   
}

.about-me-text {
    overflow-wrap: break-word; /* Modern alternative to word-wrap */
    white-space: normal; /* Allows wrapping */
    padding: 10px; /* Adds padding on all sides */
    text-align: center; /* Centers the text horizontally */
    max-width: 600px; /* Optional: Limits the width of the text block */
    margin: 0 auto; /* Centers the text block within its container */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px; 
    line-height: 1.5; /* Sets the line height to 1.5 times the font size */
    margin-bottom: -240px;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 0; /* Ensure square shape */
    object-fit: contain; /* Fills square without distortion */
    background-color: #f0f0f0;
    border: 5px solid #ccc; /* Add a border around the square */
    margin-bottom: 50px;
    margin-top: -250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add a shadow */
    display: inline-block;
}

.profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .profile-pic {
        width: 200px;
        height: 200px;
        margin-top: -150px; /* Adjust based on smaller size */
    }
}

